.botonSinEfecto{
    --ripple-color:transparent;
    text-transform: none;
    width: 100%;
}

.my-custom-menu {
    --width: 500px;
  }

  ion-icon{
      font-size: 25px;
  }
  label{
      font-size: 20px;
      cursor: pointer;
  }