.divGrafico {
    width: 400px;
    height: 430px;
    background-color: rgba(220, 220, 220, 0.1);
    display: flex;
    align-items: center;
}

.divBarra {
    width: 460px;
    height: 230px;
    background-color: rgba(220, 220, 220, 0.1);
    display: flex;
    align-items: center;
}
