<ion-content>


  <div style="width: 100% ;height: 50%; display: flex; flex-wrap: wrap;align-items: center; justify-content: center;">
    <img src="./assets/icon/logoEnteroGrande.png" style="height: 300px; width: auto;">
  </div>


  <div style="width: 100%;height: 50%;display: flex; flex-wrap: wrap;justify-content: center; align-items: flex-start;">

    <ion-button style="text-transform: none;margin-left: 3%;" (click)="irA('crear-cuenta')">Crear Cuenta!</ion-button>
    <ion-button style="text-transform: none; margin-left: 5%;" (click)="irA('prueba-disenos')">Prueba de Diseños
    </ion-button>
    <ion-button style="text-transform: none; margin-left: 5%;" (click)="prueba()">Iniciar Sesión sin usuario
    </ion-button>
    <ion-button style="text-transform: none; margin-left: 5%;" (click)="irA('iniciar-sesion')">Iniciar Sesión!
    </ion-button>

  </div>



</ion-content>