.aceptarReto {
    cursor: pointer;
    font-size: 25px;

    &:hover{
        font-size: 25.1px;
    }
}

.rechazarReto {
    cursor: pointer;
    font-size: 25px;

    &:hover{
        font-size: 25.1px;
    }
}
